.header {
  position: fixed;
  padding: 22px 0 18px;
  width: 100%;
  background-color: rgba($white, 0.95);
  z-index: 3;
  box-shadow: 2px 2px 20px rgba($light-grey, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px){
    padding: 72px 0 30px;
    background-color: rgba($white, 0.6);
    box-shadow: none;
  }
}
