*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;

  @media screen and (min-width: 991px){
    font-size: 16px;
  }
}

body {
  background: #fff;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  color: $dark-grey;
  line-height: 1.4;
  letter-spacing: 0.3px;
}

section {
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
