.section-heading {
  color: $dark-grey;
  font-family: Nunito;
  font-size: 3.25rem;
  margin: 2.68rem 0;
  font-weight: 700;
}

.section-caption {
  color: $light-grey;
  font-size: 1.125rem;
  max-width: 850px;

}

.text {
  font-size: 1.375rem;
}

.small-text {
  font-size: 1.05rem;
  color: $light-grey;
}
