.button {
  background-color: $orange;
  color: $white;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1.1px 13px 20px rgba(254, 190, 113, 0.35);
  text-align: center;
  font-size: 18px;
  width: 232px;
  line-height: 1;
  border: 0;
  padding: 21px;
}

.button--hero {
  display: block;
  height: 60px;
  margin-top: 99px;
  text-decoration: none;
  border-radius: 10px;
  letter-spacing: 0.8px;
  transition: all 0.25s;

  &:hover {
    background-color: #fff;
    color: #FF8C00;
  }
}

.button--submit {
  display: block;
  margin: 30px auto 0;
  padding: 17px;
  letter-spacing: 1px;
  width: 200px;
  transition: background-color 0.15s;

  &:hover {
    background-color: darken($orange, 4);
  }
}

.button--header {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    border-radius: 10px;
    height: 55px;
    padding: 8px;
    background-color: #fff;
    color: #FF8C00;
    transition: all 0.25s;
    box-shadow: 1.1px 13px 20px rgba(184, 184, 184, 0.25);
  }

  &:hover {
    background-color: $orange;
    color: $white;
  }
}
