.contacts {
  position: relative;
  text-align: center;
  margin-top: 70px;
  background: url('../images/contacts.png') no-repeat left;
  box-shadow: inset -1px -105px 57px 75px rgba(255, 255, 255, 0.88);

  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
}

.contact-form {
  max-width: 600px;
  width: 100%;
  box-shadow: 10px 10px 25px 10px rgba(205, 205, 205, 0.2);
  padding: 50px 15px;
  margin: 50px auto 0;
  background: $white;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 70px 50px;
    margin: 90px auto 0;
  }
}

.contact-form__field {
  display: block;
  border: 1px solid #e5e8ef;
  color: $light-grey;
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

.contact-form--modal {
  background-color: #f1f1f1;
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
}
