.services {
  background: url('../images/bg.png') no-repeat 0 340px;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.service-item {
  max-width: 570px;
  padding: 140px 25px 40px;
  border-radius: 10px;
  margin-bottom: 20px;

  @media screen and (min-width: 991px) {
    padding: 165px 63px 60px;
    margin-bottom: 0;
  }

  &:nth-of-type(1) {
    background: $white url('../images/service-1.png') no-repeat 25px 30px;
    box-shadow: 0 0 30px rgba(246, 204, 153, 0.35);

    @media screen and (min-width: 991px) {
      background: $white url('../images/service-1.png') no-repeat 63px 55px;
    }
  }

  &:nth-of-type(2) {
    background: $white url('../images/service-2.png') no-repeat 25px 30px;
    box-shadow: 0 0 30px rgba(208, 208, 208, 0.35);

    @media screen and (min-width: 991px) {
      background: $white url('../images/service-2.png') no-repeat 63px 55px;
    }
  }
}

.service-item__heading {
  color: #2d364d;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 38px;
}

.service-item__text {
  margin-top: 20px;

  @media screen and (min-width: 991px) {
    margin-top: 40px;
  }
}
